main {
    padding: 0px;
    width: 100%;
}

nav {
    background-color: #015c75;
    padding: 10px;
}

a ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Solway', Arial, sans-serif;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    
    padding: 8px;
}

.dernerPets {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    border: none;
    padding: 8px;
    font-family: 'Solway', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Solway', Arial, sans-serif;
    font-size: 18px;
    padding: 18px;
}

nav a:hover {
    color:#8ae6ff;
}

/* index page */
.indexBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 1rem;
    padding: 0;
    background-color:#308ca6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

/*.indexContainer {

} */

.indexMain h2 {
    text-align: center;  
}

.indexMain h3 {
    text-align: center;
}

.indexIntro {
    margin: 3rem;
}

.petsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.petsList li {
    font-family: 'Solway', Arial, sans-serif;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    border: none;
    background-color: #015c75;
    padding: 18px;
    font-size: 18px;
}

.petsList a {
    color: white;
    text-decoration: none;
    padding: 18px;
}

.petsList li:hover {
    background-color: #013e4f;
}

.petsList a:hover {
    color: #8ae6ff;
}

/* cookie's page */
.cookieBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#BED3E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.cookiePage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.reallyWant {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* minnie's page */
.minnieBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#BED3E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.minniePage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.ruleList {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* turtle's page */
.turtleBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#BED3E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.turtlePage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.grievanceList {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* neville's page */
.nevilleBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#BED3E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.nevillePage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.heyGuys, .worried {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* mango's page */
.mangoBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#BED3E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.mangoPage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.tigerTraining {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mangoH2 {
    font-family: 'Solway', Arial, sans-serif;
}

.mangoP {
    font-family: 'Solway', Arial, sans-serif;
}

.mangoCW {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}