main {
    padding: 0px;
    width: 100%;
}

nav {
    background-color: #015c75;
    padding: 10px;
}

a ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Solway', Arial, sans-serif;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    padding: 0px;
}

.thePets {
    display: inline-block;
    margin-right: 8px;
    margin-left: 8px;
    align-items: center;
    border: none;
    padding: 8px;
    font-family: 'Solway', Arial, sans-serif;
    text-align: center;
    color: white;
}

.thePets a {
    font-size: 32px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Solway', Arial, sans-serif;
    font-size: 18px;
    padding: 18px;
}

nav a:hover {
    color:#a9d8e5;
}

/* index page */
.indexBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 1rem;
    padding: 0;
    background-color:#308ca6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    color:#012832;
}

.indexMain h2 {
    text-align: center;
    font-size: 36px;  
}

.indexMain h3 {
    text-align: center;
    font-family: 'Gantari', Arial, sans-serif;
    font-size: 24px;
    color:#05333e;
}

.indexIntro {
    margin: 3rem;
}

.petsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.petsList li {
    font-family: 'Gantari', Arial, sans-serif;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    border: none;
    font-size: 18px;
}

.petsList a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    background-color: inherit;
}
    
    .cookieButton a { background-color: #6e284e; }
    .minnieButton a { background-color: #226ea1; }
    .turtleButton a { background-color: #5a0860; }
    .nevilleButton a { background-color: #5f0b0b; }
    .mangoButton a { background-color: #d3651b; }

.petsList a:hover {
    background-color: #013e4f;
    color: #a9d8e5;
}

.indexPhotos {
    display: flex;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 3rem 0 2rem;
}

.indexPhotos li {
    margin: 0 15px;
    flex: 1;
    display: flex;
}

.indexPhotos img {
    max-width: 250px;
    width: 100%;
    height: 315px;
    object-fit: cover !important;
}

/* cookie's page */
.cookieNav {
    background-color: #6e284e;
}

.cookieNav a:hover {
    color: #e2a3c6;
}

.cookieBody {
    font-family: 'Gantari', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#b6819e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.cookiePage {
    font-family: 'Solway', Arial, sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color:#4f0c31;
}

.reallyWant {
    margin-bottom: 2rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 12rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #2c051b;
    width: 60%;
}

.reallyWant li {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.cookieContainer {
    overflow: auto;
  }
  
  .cookieContent {
    float: left;
    width: 60%;
    margin-right: 0;
  }
  
  .cookiePagePhoto {
    float: right;
    width: 22%;
    margin: 2rem;
    margin-top: 2rem;
    margin-right: 12rem;
  }
  
  .cookiePagePhoto img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
/* minnie's page */
.minnieNav {
    background-color: #226ea1;
}

.minnieNav a:hover {
    color: #a4d5f6;
}

.minnieBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#82afcd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.minniePage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: #1c547a;
}

.ruleList {
    margin-bottom: 2rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 12rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color:#0f3955;
    font-family: 'Gantari', Arial, sans-serif;
    font-weight: 600;
    font-style: italic;
}

.ruleList li {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.minnieContainer {
    overflow: auto;
  }
  
  .minnieContent {
    float: left;
    width: 60%;
    margin-right: 0;
  }
  
  .minniePagePhoto {
    float: right;
    width: 22%; 
    margin: 2rem;
    margin-top: 2rem;
    margin-right: 12rem;
  }
  
  .minniePagePhoto img {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* turtle's page */
.turtleNav {
    background-color: #5a0860;
}

.turtleNav a:hover {
    color: #e2b4e6;
}

.turtleBody {
    font-family: 'Gantari', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#aa76ae;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.turtlePage {
    font-family: 'Solway', Arial, sans-serif;
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color:#48064d;
}

.grievanceList {
    margin-bottom: 2rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 12rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color:#28042a;
}

.grievanceList li {
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.turtleContainer {
    overflow: auto;
  }
  
  .turtleContent {
    float: left;
    width: 60%;
    margin-right: 0;
  }
  
  .turtlePagePhoto {
    float: right;
    width: 22%;
    margin: 2rem;
    margin-top: 2rem;
    margin-right: 12rem;
  }
  
  .turtlePagePhoto img {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* neville's page */
.nevilleNav {
    background-color: #5f0b0b;
}

.nevilleNav a:hover {
    color: #b67b7b;
}

.nevilleBody {
    font-family: 'Gantari', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#c77a7a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    color:#360404;
}

.nevillePage {
    font-family: 'Solway', Arial, sans-serif;
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color:#4e0909;
}

.heyGuys, .worried {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12rem;
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.heyGuys li, .worried li {
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.nevilleContainer {
    overflow: auto;
  }
  
  .nevilleContent {
    float: left;
    width: 60%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
  
  .nevillePagePhoto {
    float: right;
    width: 22%;
    margin: 2rem;
    margin-top: 2rem;
    margin-right: 12rem;
  }
  
  .nevillePagePhoto img {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* mango's page */
.mangoNav {
    background-color: #d3651b;
}

.mangoNav a:hover {
    color: #f6bb94;
}

.mangoBody {
    font-family: 'Gantari', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#e69e6e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    color:#5d2500;
}

.mangoPage {
    font-family: 'Solway', Arial, sans-serif;
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color:#74340a
}

.tigerTraining {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12rem;
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tigerTraining li {
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.mangoH2 {
    font-family: 'Gantari', Arial, sans-serif;
}

.mangoP {
    font-family: 'Solway', Arial, sans-serif;
}

.mangoCW {
    margin-top: 0;
    margin-right: 0;
    margin-left: 12rem;
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    list-style: none;
}

.mangoContainer {
    overflow: auto;
  }
  
  .mangoContent {
    float: left;
    width: 60%;
    margin-right: 0;
    margin-bottom: 6rem;
  }
  
  .mangoPagePhoto {
    float: right;
    width: 22%; 
    margin: 2rem;
    margin-top: 2rem;
    margin-right: 12rem;
  }
  
  .mangoPagePhoto img {
    max-width: 100%;
    height: auto;
    display: block;
  }

/* Banana Club */
.bananaNav {
    background-color: #9c9209;
}

.bananaNav a:hover {
    color: #fff9a9;
}

.bananaBody {
    font-family: 'Gantari', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#d3cd70;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.bananaPage {
    font-family: 'Solway', Arial, sans-serif;
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color:#323012;
}

.bananaText {
    margin-bottom: 2rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color:#2a2807;
}

.bananaText h2 {
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.bananaContainer {
    overflow: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .bananaContent {
    float: center;
    width: 100%;
    margin-right: 0;
  }
  
  .bananaPagePhoto {
    float: center;
    width: 45%;
    margin: 2rem auto;
    margin-top: 0;
  }
  
  .bananaPagePhoto img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    /* Navigation */
    nav li {
      display: block;
      margin: 10px 0;
    }
  
    .thePets a {
      font-size: 22px;
    }

    .thePets {
        padding: 0;
    }
  
    nav a {
      font-size: 16px;
      padding: 10px;
    }
  
    /* Index page */
    .indexMain h2 {
      font-size: 28px;
    }
  
    .indexMain h3 {
      font-size: 20px;
    }
  
    .indexIntro {
      margin: 1rem;
    }
  
    .petsList li {
      display: block;
      margin: 10px 0;
    }
  
    .indexPhotos {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
        margin-top: 1rem;
      }
    
      .indexPhotos li {
        margin: 10px 0;
        flex: none;
      }
    
      .indexPhotos img {
        max-width: 250px;
        width: auto;
        height: auto;
        object-fit: contain;
      }
    }
  
    /* Content pages */
    .cookieContent, .minnieContent, .turtleContent, .nevilleContent, .mangoContent {
      float: none;
      width: 100%;
    }
  
    .cookiePagePhoto, .minniePagePhoto, .turtlePagePhoto, .nevillePagePhoto, .mangoPagePhoto {
      float: none;
      width: 80%;
      margin: 1rem auto;
    }
  
    .reallyWant, .ruleList, .grievanceList, .heyGuys, .worried, .tigerTraining {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  
    .reallyWant li, .ruleList li, .grievanceList li, .heyGuys li, .worried li, .tigerTraining li {
      font-size: 16px;
    }
  
    /* Banana Club */
    .bananaText h2 {
      font-size: 24px;
    }
  
    .bananaPagePhoto {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 501px) {
    .indexMain h2 {
      font-size: 24px;
    }
  
    .indexMain h3 {
      font-size: 18px;
    }

    .indexPhotos {
        margin-bottom: 0;
    }

    .indexPhotos img {
        max-width: 220px;
    }
  
    .petsList li {
      font-size: 16px;
    }
  
    .petsList a {
        padding: 12px;
    }

    .reallyWant li, .ruleList li, .grievanceList li, .heyGuys li, .worried li, .tigerTraining li, .mangoCW {
      font-size: 16px;
      margin-left: 2rem;
    }
  }  