main {
    padding: 0px;
    width: 100%;
}

nav {
    background-color: #015c75;
    padding: 10px;
}

a ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Solway', Arial, sans-serif;
}

nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    
    padding: 8px;
}

.dernerPets {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    border: none;
    padding: 8px;
    font-family: 'Solway', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Solway', Arial, sans-serif;
    font-size: 18px;
    padding: 18px;
}

nav a:hover {
    color:#a9d8e5;
}

/* index page */
.indexBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 1rem;
    padding: 0;
    background-color:#308ca6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
    color:#012832;
}

/*.indexContainer {

} */

.indexMain h2 {
    text-align: center;
    font-size: 36px;  
}

.indexMain h3 {
    text-align: center;
    font-family: 'Gantari', Arial, sans-serif;
    font-size: 24px;
    color:#073f4d;
}

.indexIntro {
    margin: 3rem;
}

.petsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.petsList li {
    font-family: 'Gantari', Arial, sans-serif;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
    border: none;
    background-color: #015c75;
    padding: 18px;
    font-size: 18px;
}

.petsList a {
    color: white;
    text-decoration: none;
    padding: 18px;
}

.petsList li:hover {
    background-color: #013e4f;
}

.petsList a:hover {
    color: #a9d8e5;
}

/* cookie's page */
.cookieNav {
    background-color: #6e284e;
}

.cookieNav a:hover {
    color: #e2a3c6;
}

.cookieBody {
    font-family: 'Gantari', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#b6819e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.cookiePage {
    font-family: 'Solway', Arial, sans-serif;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color:#4f0c31;
}

.reallyWant {
    margin: 6rem;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #2c051b;
}

.reallyWant li {
    font-size: 20px;
    margin-bottom: 1rem;
}

/* minnie's page */
.minnieNav {
    background-color: #226ea1;
}

.minnieNav a:hover {
    color: #a4d5f6;
}

.minnieBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#52a1d6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.minniePage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    color: #1a4e71;
}

.ruleList {
    margin: 6rem;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color:#12354d;
    font-family: 'Gantari', Arial, sans-serif;
}

.ruleList li {
    font-size: 20px;
    margin-bottom: 1rem;
}

/* turtle's page */
.turtleBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#BED3E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.turtlePage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.grievanceList {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* neville's page */
.nevilleBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#BED3E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.nevillePage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.heyGuys, .worried {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* mango's page */
.mangoBody {
    font-family: 'Solway', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#BED3E5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.mangoPage {
    margin: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.tigerTraining {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mangoH2 {
    font-family: 'Solway', Arial, sans-serif;
}

.mangoP {
    font-family: 'Solway', Arial, sans-serif;
}

.mangoCW {
    margin: 4rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}